<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Garage</title>
</head>
<table style="width:75%" border="3">

        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cars</th>

        </tr>
        </thead>
    <tbody>

    <tr th:each="user: ${allUsers}">
        <td th:text="${user.key.userId}"></td>
        <td th:text="${user.key.name}"></td>
        <td>
            <table style="width:80%" bgcolor="aqua2" class="result-highlight" >
                <tr th:each="car : ${user.value}">
                    <td th:text="${car.carId}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.userIdOvner}"></td>
                </tr>

            </table>
        </td>
        </tr>
    </tbody>
    </table>
</html>
